<form action="/Employee/" method="post">

<table>
<tr>
<td><label for="{{form.Name.id_for_label}}">Name:</td><td></label>{{form.Name}}</td>
</tr><tr>
<td><label for="{{form.Age.id_for_label}}">Age:</td><td></label>{{form.Age}}</td>
<tr></tr>
<td><label for="{{form.EmployeeID.id_for_label}}">Employee ID:</td><td></label>{{form.EmployeeID}}</td>
<tr></tr>
<td><label for="{{form.Email.id_for_label}}">Email:</td><td></label>{{form.Email}}</td>
<tr></tr>
<td><label for="{{form.Sex.id_for_label}}">Sex:</td><td></label>{{form.Sex}}</td>
<tr></tr>
<td><label for="{{form.Phonenumber.id_for_label}}">Phone#:</td><td></label>{{form.Phonenumber}}</td>
<tr></tr>

</table>
<input type="submit" value="Save" name="AddSubmit"/>
</form>